<!DOCTYPE html>
<html lang="{{ site.lang | default: "pl" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="robots" content="{{ page.index | default: "index, follow" }}">
    <link rel="canonical" href="{{ site.url }}" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/assets/css/main.css">

    <title>{{ site.title | default: page.title }}</title>

    {% seo %}
    
</head>